/* Basic layout for homepage */

.homepage {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Top ribbon style */
.homepage-header {
  display: flex;
  position: fixed;
  width: stretch;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #7BAFFE;
  color: white;
  z-index: 1000;
}

.homepage-header p {
  flex: 1;
  text-align: center;
}

/* Logo styling */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

/* Logout button styling */
.logout-button {
  padding: 10px 15px;
  font-size: 1rem;
  gap: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff392a;
}

/* Tab link styling */
.tabs {
  display: flex;
  gap: 10px;
}

.tablink {
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#AptTab:hover {
  background-color: #28a745;
}

.tablink:hover {
  background-color: #9b59b6;
}

/* Tab content styling */
.tabcontent {
  display: flex;
  position: fixed;
  top: 0;
  width: 500px;
  padding: 50px;
  margin-top: 100px;
  text-align: center;
  color: white;
  border-radius: 15px;
  justify-content: flex-start;
  align-items: flex-start;

}

#Calendar {
  width: 100%;
  height: 100%;
  margin-top: 80px;
}

.fc { /* FullCalendar container */
  padding-left: 250px;
  padding-right: 250px;
  height: 90vh;
}

#Medications { background-color: green; }

#Profile {
  background-color: orange;
  position: absolute; /* Allows precise positioning */
  left: 50%; /* Move to the horizontal center */
  transform: translate(-50%); /* Offset to ensure centering */
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  min-height: 50%; /* Adjust as necessary */
  width: auto; /* Ensure width adapts to content */
  text-align: center; /* Centers text inside block elements */
  flex-direction: column; /* Stack children vertically */
}

#Profile p{
  padding: 15px;
  text-align: center; /* Centers text alignment inside the div */
}